<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDPqKCe-iCKhO7Xh-jIwMPxAC3no6qwNbE</string>
	<key>GCM_SENDER_ID</key>
	<string>781443254978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.nwmissouri.spring24.cs44643.sec03</string>
	<key>PROJECT_ID</key>
	<string>spring2024-44643sec03team03</string>
	<key>STORAGE_BUCKET</key>
	<string>spring2024-44643sec03team03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781443254978:ios:123be85def02f6659c495b</string>
</dict>
</plist>